body {
    background: #fafafa;
    color: #333333;
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .comment-img {
    height: 20px;
    width : 20px;
    margin-right:10px;
    margin-bottom: 8px;
    display: inline-block;
  }
  .comment-form{
    display: inline;
  }
  .vote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -21px;
  } 
  
  .vote.on {
    background-position: 0 2px;
  }

  .votd {
    display: inline-block;
    overflow: hidden;
    width: 43px;
    height: 27px;
    cursor: pointer;
    background: url('downvote.png');
    background-position: 0 2px;
  } 
  
  .votd.on {
    background-position: 0 -25px;
  }

  .home-content{
    width: inherit;
    max-height: 400px;
    overflow:hidden;
  }


  .domain {
    position: relative;
  }
  
  .domain-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .domain:hover .domain-description-layer {
    visibility: visible;
    opacity: 1;
  }
  
  .domain-description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .domain:hover .domain-description {
    transform: translateY(0);
  }