{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row row-cols-3">
        {%for domain in lst %}
            <div class="col">
                <a href="{{ url_for('domains.domain_profile', domain_name=domain.domain_name)}}">
                    <div class="domain card" style="margin-top: 30px;">
                        <img src="{{ url_for('static', filename='domain_pics/'+domain.domain_image) }}" class="domain-image card-img-top img-fluid">
                        <div class="domain-description-layer">
                            <p class="domain-description">{{ domain.domain_name }}</p>
                        </div>
                    </div>
                    
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
{% endblock content %}
